:root {
	--white-color: #fff;
	--black-color: #000;
	--text-color: #333;
	--message-defual-color: #86898d;
	--right-answer-color: rgb(33, 184, 25);
	--primary-color: rgb(250, 74, 45);
	--border-color: #dbdbdb;
	--almost-right-answer-color: rgb(255, 198, 56);
}
