body,
html {
	display: flex;
	font-size: 62.5%;
	line-height: 1.6rem;
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

* {
	box-sizing: inherit;
}
/* ******************************************************************* */
/* background */
.background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
canvas {
	position: absolute;
	height: 100%;
	width: 100%;
}
/* ******************************************************************* */
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto !important;
	padding: 0 !important;
	background-color: rgba(240, 248, 255, 0.3);
	width: 900px !important;
	height: 540px !important;
	z-index: 1;
}
/* ******************************************************************* */
.container__header {
	display: flex;
	width: 100%;
	height: 4%;
	align-items: center;
}
/* ************************************ */
.btn.header__btn-back {
	position: absolute;
	right: 1rem;
	padding: 0;
	border-radius: 50%;
	border-color: transparent;
	background-color: transparent;
	outline: none;
	color: var(--white-color);
	font-size: 1.8rem;
}
/* ******************************************************************* */
.container__warp {
	display: flex;
	width: 100%;
	height: 96%;
}
/* ************************************ */
.container__user {
	display: flex;
	width: 28%;
	height: 100%;
	margin-right: 10px;
	background-color: var(--white-color);
	border-radius: 8px;
}
/* *****************************/
.users__list {
	list-style: none;
	padding-left: 0;
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	border-radius: 8px;
}
.user {
	display: flex;
	align-items: center;
	padding-left: 20px;
	width: 100%;
	height: 80px;
	border: 2px solid var(--border-color);
}
/*  avatar */
.user-avatar {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 45px;
	min-height: 45px;
	border: 2px solid #222;
	border-radius: 50%;
}
.user-avatar:hover {
	transform: translateY(-2px);
	box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.05);
}
.user.first .user-avatar::before {
	content: "";
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	bottom: -4px;
	right: -5px;
	background-color: #ffc926;
}
.user.second .user-avatar::before {
	content: "";
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	bottom: -4px;
	right: -5px;
	background-color: #bbb;
}
.user.third .user-avatar::before {
	content: "";
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	bottom: -4px;
	right: -5px;
	background-color: #d96d00;
}
/* empty avatar */
.user.empty .user-avatar {
	border: 0;
}
.user.empty .user-avatar::before {
	content: "";
	width: 45px;
	height: 45px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: -1px;
	background-image: url(./image/empty.svg);
	background-size: cover;
	border: 2px solid #bbb;
}
/*****************/
.user-infor {
	display: flex;
	flex-direction: column;
	margin-left: 6px;
}
.user-infor__name {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.8rem;
	overflow: hidden;
	display: flex;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.user-infor__points {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--points-user-color);
}
.user-infor__turn {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--turn-user-color);
}
.user.turn .user-infor__name,
.user.turn .user-infor__points {
	color: var(--turn-user-color);
}
.user.turn {
	background-color: rgba(26, 134, 251, 0.1);
}
.user.turn .user-avatar {
	border: 3px solid var(--turn-user-color);
}
/* empty information */
.user-infor__empty {
	display: none;
}
.user.empty .user-infor__name,
.user.empty .user-infor__points {
	display: none;
}
.user.empty .user-infor__empty {
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	color: #bbb;
}
/* ************************************ */
.container__play {
	display: flex;
	flex-direction: column;
	width: 72%;
	margin-left: 2%;
	height: 100%;
}
/* *****************************/
.play__canvas {
	display: flex;
	width: 100%;
	height: 72%;
	background-color: rgba(165, 42, 42, 0.3);
}
.play__interaction {
	display: flex;
	width: 100%;
	height: 24%;
	margin-top: 4%;
	background-color: var(--white-color);
}

.interaction__tille {
	position: absolute;
	min-width: 100px;
	max-width: calc(100% - 30px);
	padding: 0 4px;
	height: 2.4rem;
	background-color: #0b2990;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	position: absolute;
	top: -14px;
	right: 15px;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fff;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
}
/* **********************/
.interaction__answer {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;

	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.interaction__chat {
	position: relative;
	flex-direction: column;
	display: flex;
	width: 50%;
	height: 100%;
}
/************/
.interaction__history {
	display: flex;
	flex-direction: column;
	margin: 2% auto;
	padding: 8px 8px 8px 20px;
	list-style: none;
	width: 100%;
	height: 86%;
	overflow: auto;
}
/************/
.interaction__input {
	display: flex;
	height: 24%;
	margin: 0 24px 5px 10px;
	text-align: left;
	font-size: 1.4rem;
	padding: 0 10px;
	z-index: 2;
	border-radius: 3px;
	border: 3px solid var(--border-color);
}
.message {
	word-wrap: break-word;
	color: var(--message-defual-color);
	font-size: 1.2rem;
	font-weight: 700;
}
.message__user-name {
	font-weight: 700;
}
.mesage__content {
	font-weight: 500;
}
.interaction__answer.disable .interaction__tille,
.interaction__chat.disable .interaction__tille {
	background-color: rgb(187, 205, 215);
}
.interaction__chat .message__user-name {
	color: rgb(34, 110, 251);
}

.message.right .message__content,
.message.right .message__user-name {
	color: var(--right-answer-color);
	font-weight: 700;
}
.message.almost-right .message__content {
	color: var(--almost-right-answer-color);
}
