body,
html {
	display: flex;
	font-size: 62.5%;
	line-height: 1.6rem;
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

* {
	box-sizing: inherit;
}
/* ******************************************************************* */

.background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
canvas {
	position: absolute;
	height: 100%;
	width: 100%;
}
/* ******************************************************************* */
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto !important;
	padding: 0 !important;
	background-color: rgba(240, 248, 255, 0.3);
	width: 900px !important;
	height: 540px !important;
}
/* ******************************************************************* */
.container__header {
	display: flex;
	width: 100%;
	height: 4%;
	align-items: center;
	background-color: rgba(240, 248, 255, 0.3);
}
/* ************************************ */
.btn.header__btn-back {
	position: absolute;
	right: 1rem;
	padding: 0;
	border-radius: 50%;
	border-color: transparent;
	background-color: transparent;
	outline: none;
	color: var(--white-color);
	font-size: 1.8rem;
}
/* ******************************************************************* */
.container__warp {
	display: flex;
	width: 100%;
	height: 96%;
	background-color: rgba(59, 230, 173, 0.2);
}
/* ************************************ */
.container__user {
	display: flex;
	width: 28%;
	height: 100%;
	background-color: var(--white-color);
	border-radius: 8px;
}
/* *****************************/
.users__list {
	list-style: none;
	padding-left: 0;
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	border-radius: 8px;
}
.user {
	display: flex;
	align-items: center;
	padding-left: 20px;
	width: 100%;
	height: 80px;
	border: 2px solid var(--border-color);
}
.user-avatar {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 45px;
	min-height: 45px;
	border: 2px solid #222;
	border-radius: 50%;
}
.user.first .user-avatar::before {
	content: "";
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	bottom: -4px;
	right: -5px;
	background-color: #ffc926;
}
.user.second .user-avatar::before {
	content: "";
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	bottom: -4px;
	right: -5px;
	background-color: #bbb;
}
.user.third .user-avatar::before {
	content: "";
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	bottom: -4px;
	right: -5px;
	background-color: #d96d00;
}
.user.empty .user-avatar {
	border: 0;
}
.user.empty .user-avatar::before {
	content: "";
	width: 45px;
	height: 45px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: -1px;
	background-image: url(./image/empty.svg);
	background-size: cover;
	border: 2px solid #bbb;
}
/*****************/
.user-infor {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.user-infor__name {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.8rem;
	overflow: hidden;
	display: flex;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.user-infor__points {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--points-user-color);
}
.user-infor__turn {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--turn-user-color);
}
.user.turn .user-infor__name,
.user.turn .user-infor__points {
	color: var(--turn-user-color);
}
.user.turn {
	background-color: rgba(26, 134, 251, 0.1);
}
.user.turn .user-avatar {
	border: 3px solid var(--turn-user-color);
}
.user-infor__empty {
	display: none;
}
.user.empty .user-infor__name,
.user.empty .user-infor__points {
	display: none;
}
.user.empty .user-infor__empty {
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	color: #bbb;
}
/* ************************************ */
.container__play {
	display: flex;
	flex-direction: column;
	width: 72%;
	margin-left: 2%;
	height: 100%;
	background-color: rgba(210, 105, 30, 0.3);
}
/* *****************************/
.play__canvas {
	display: flex;
	width: 100%;
	height: 60%;
	background-color: rgba(165, 42, 42, 0.3);
}
.play__interaction {
	display: flex;
	width: 100%;
	height: 34%;
	margin-top: 6%;
	background-color: rgba(224, 234, 235, 0.3);
}
/* **********************/
.interaction__answer {
	display: flex;
	width: 50%;
	height: 100%;
	background-color: coral;
}
.interaction__chat {
	display: flex;
	width: 50%;
	height: 100%;
	background-color: rgb(238, 74, 74);
}
